/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --brand-color:  #009874;

}

html {
  font-size: 62.5%;
}

body {
  background-color: #f6fafc;
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
}


.container{
    margin-top: 4.8rem;
}

.main-container{
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3.2rem;
}


.results-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.6rem;
  align-items: center;
}

