.weather-results {
    border: 2px solid #fdf2e9;
    padding: 4.6rem;
    background-color: #cceae3;
    border-radius: 10px;
}

.weather-results-header {
    text-align: center;
    margin-bottom: 3.2rem;
}

.city-name {
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}


.city-temp {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

.city-date {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}


.list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-item {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}

.parameter {
    font-size: 2rem;
    font-weight: 700;
}