.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4.8rem;
  align-items: start;
  margin-bottom: 4.2rem;
}

@media (max-width: 65em) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 41em) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
