<div class="form-container">
    <form class="cta-form" #ctaForm="ngForm" (ngSubmit)="handleSubmit(ctaForm.value)">
      <div>
        <label for="city-name">City Name</label>
        <input
          type="text"
          placeholder=""
          name="city-name"
          [(ngModel)]="formData.cityName"
          [disabled]="true"
          required
        />
      </div>
      <div>
        <label for="forecast">Select Date For Forecast</label>
        <input type="date" id="forecast" name="forecast">
      </div>
      <div class="btn-container">
        <button class="btn-submit" 
        [ngClass]="{'btn-disabled': !checkIfFormvalid()}"
        [disabled] = "!checkIfFormvalid()">Submit</button>
      </div>
      <div class="error-message">{{errorMessage}}</div>
      </form>
  </div>