<div class="form-container">
    <form class="cta-form">
      <div>
        <label for="city-name">City Name</label>
        <input
          type="text"
          placeholder=""
          id="city-name"
          [disabled]="true"
          required
        />
      </div>
      <div>
        <label for="forecast">Select Date For Forecast</label>
        <input type="date" id="forecast" name="forecast">
      </div>
      <div class="btn-container">
        <button class="btn-submit">Submit</button>
      </div>
      </form>
  </div>